.browsers {
    list-style: none;
    padding-left: 0;
    text-align: center;
}
.browsers li {
    display: inline-block;
    width: 60px;
    margin-top: 15px;
}
.icon.black-n-white {
    margin-top: 10px;
}
