.browsers {
    list-style: none;
    padding-left: 0;
    min-width: 235px;
}
.browsers li {
    display: inline-block;
    text-align: center;
    width: 60px;
    margin-top: 15px;
}
.help .browsers li:nth-child(1) {
    display: block;
    margin: 0 auto;
}
.help .browsers li:nth-child(2),
.help .browsers li:nth-child(3) {
    display: inline-block;
    width: 50%;
}
.help .browsers li:nth-child(4),
.help .browsers li:nth-child(5) {
    display: inline-block;
    width: 30%;
}
.help .browsers li:nth-child(4) {
    margin-left: 20%;
}
.icon.black-n-white {
    margin-top: 10px;
}
