.icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ie {
    background-image: url(../images/ie.png);
}
.chrome {
    background-image: url(../images/chrome.png);
}
.firefox {
    background-image: url(../images/firefox.png);
}
.opera {
    background-image: url(../images/opera.png);
}
.safari {
    background-image: url(../images/safari.png);
}
.ie.black-n-white {
    background-image: url(../images/ie-bw.png);
}
.chrome.black-n-white {
    background-image: url(../images/chrome-bw.png);
}
.firefox.black-n-white {
    background-image: url(../images/firefox-bw.png);
}
.opera.black-n-white {
    background-image: url(../images/opera-bw.png);
}
.safari.black-n-white {
    background-image: url(../images/safari-bw.png);
}
.ie.pre {
    background-image: url(../images/pre-ie.png);
}
.chrome.pre {
    background-image: url(../images/pre-chrome.png);
}
.firefox.pre {
    background-image: url(../images/pre-firefox.png);
}
.opera.pre {
    background-image: url(../images/pre-opera.png);
}
.safari.pre {
    background-image: url(../images/pre-safari.png);
}
