tr >:first-child {
    text-align: right;
    font-weight: bold;
}
ul {
    list-style: none;
    width: auto;
}
ul li {
    display: inline-block;
    text-align: center;
    width: 60px;
}
li + li {
    margin-left: 15px;
}
